{% extends 'base.html' %}
{% block title %}{{ user_obj.get_full_name|default:user_obj.username }}{% endblock %}

{% block content %}
<div class="task-view">
    <h1>Profile of: {{ user_obj.get_full_name|default:user_obj.username }}</h1>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
    {% endif %}
    <p>Username: {{ user_obj.username }}</p>
    <p>Name: {{ user_obj.first_name }}</p>
    <p>Last Name: {{ user_obj.last_name }}</p>
    <p>Summary: {{ user_obj.profile.summary }}</p>
    <p>Github Profile: <a href="{{ user_obj.profile.github }}">{{ user_obj.profile.github }}</a></p>
    <p>Почта: {{ user_obj.email }}</p>
    {% if request.user == user_obj %}
    <a class="btn btn-outline-info" href="{% url 'change' %}">Edit</a>
    <a class="btn btn-outline-info" href="{% url 'password_change' %}">Change Password</a>
    {% endif %}
</div>
<h2 class="text-center clear" style="font-weight: 700; text-transform: uppercase;">Projects of user:</h2>
<br>
<div class="project-tasks"> {% include 'partial/project_list.html' %}</div>

{% endblock %}