{% for review in user_obj.reviews.all %}
                <div class="task">
                    <h2>{{ review.product.name }}</h2>
                    <h3>{{ review.author }}'s rate: {{ review.rating }}</h3>
                    <p>{{ review.review }}</p>
                    <p>Rated on: {{ review.created_at }} by {{ review.author.first_name }} {{ review.author.last_name }}</p>
                    <p>E-mail: {{ review.author.email }}</p>
                    <hr>
                </div>
{% endfor %}