{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
        <div class="task-view">
            <h1>Product:</h1>
            <h2>{{ product.name }}</h2>
            <h5>Product Rating: {{ product.get_avg }}</h5>
             <img class="picture" src="{{ product.picture.url }}" width="250" height="250" alt="product image">
            <hr>
            <h5>Description:</h5>
            <p>{{ product.description}}</p>
            <p> Category: {{ product.category }}</p>
            {% if perms.webapp.change_review %}
            <a class="btn btn-outline-info" href="{% url 'product-update' product.id %}">Update Product</a>
            <button type="button" class="btn btn-outline-info waves-effect px-3" data-toggle="modal" data-target="#deletion">Delete Product
            </button>
            {% endif %}
            <hr>
            {% for review in product.ratings.all %}
            {% if review.is_moderated %}
                <div class="task">
                    <h3><a href="{% url 'detail' review.author.pk %}">{{ review.author }}'s</a> rate: {{ review.rating }}</h3>
                    <p>{{ review.review }}</p>
                    <p>Rated on: {{ review.created_at }} by {{ review.author.first_name }} {{ review.author.last_name }}</p>
                    <p>E-mail: {{ review.author.email }}</p>
                    <hr>
                    {% if request.user == review.author or perms.webapp.change_review %}
                     <a class="btn btn-outline-info" href="{% url 'review-update' review.id %}">Update review</a>
                    <button type="button" class="btn btn-outline-info waves-effect px-3" data-toggle="modal" data-target="#deletion{{ review.id }}">Delete review
                    </button>
                    {% endif %}
                    <hr>
                    </div>
                {% endif %}
                    <div class="modal fade" id="deletion{{ review.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel1">Are you sure you want to delete this review?</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                              <a class="btn" href='{% url "review-delete" review.id %}'>Delete</a>
                            </div>
                          </div>
                        </div>
                      </div>
                {% empty %}
                    <p>No reviews yet.</p>
                {% endfor %}
            {% if user.is_authenticated %}
            <div class="task-form">
                <h2>Add your Review</h2>
                <form action='{% url "review-add" product.pk %}' method="POST">
                    {% include "review/review_form.html" with button_text="ADD" %}
                </form>
            </div>
            {% endif %}
        </div>
        <div class="modal fade" id="deletion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this product?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <a class="btn" href='{% url "product-delete" product.id %}'>Delete</a>
                </div>
              </div>
            </div>
          </div>
{% endblock %}
