{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="header-info-block">
            <h1>Product Reviewer</h1>
            <p>Review and Rate the Products</p>
        </div>
    {% for review in reviews %}
    <div class="task">
            <h1>Product: {{ review.product.name }}</h1>
            <h2>{{ review.author }}'s rating: {{ review.rating }}</h2>
            <p>Comment: {{ review.review }}</p>
            <p>
                <a class="btn btn-outline-info"  href="{% url 'review-update' review.pk %}">Update</a>
            </p>
            <hr>
    </div>
    {% endfor %}
    {% if is_paginated %}
    {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}